@import '_main.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#app {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#pop-toast-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}

.profile-picture {
  height: 40px;
  width: auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.hover-craft {
  &:hover {
    transform: scale(1.05);
    transition: .5s;
    // transition-duration: .5s;
  }
}


.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}